.main-menu-button {
    -fx-background-color: rgba(0, 0, 0, 0.28);
    -fx-text-fill: #d6b63f;
    -fx-font-family: Georgia;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-border-color: #d6b63f;
    -fx-border-width: 2.5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;

    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.85), 10, 0.45, 0, 3);
}

.main-menu-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.45);
    -fx-text-fill: #ffe36a;
    -fx-border-color: #ffe36a;
    -fx-effect: dropshadow(gaussian, rgba(255,215,0,0.75), 20, 0.55, 0, 0);
}

.main-menu-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.65);
    -fx-text-fill: #fff1a8;
    -fx-border-color: #fff1a8;
    -fx-translate-y: 2;
}